name: Docs
on:
  push:
    branches:
      - main
      - test-docs-generator # for testing
  # Update version in installation instructions when new version is released
  release:
    types:
    - released

permissions:
  contents: read

jobs:
  generate-and-deploy:
    name: Generate and deploy
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout head
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: 'go.mod'
      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.10"
      - name: Generate documentation
        run: make docs
      - name: Store generated MkDocs site
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: mkdocs-site
          path: site
          retention-days: 7
      - name: Deploy to pages
        if: ${{ github.ref_name == 'main' || github.event_name == 'release'}}
        uses: JamesIves/github-pages-deploy-action@4a3abc783e1a24aeb44c16e869ad83caf6b4cc23 # 4.7.4
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: site
          CLEAN: true
