name: Docs
on:
  push:
    branches:
      - main
      - test-docs-generator # for testing
  # Update version in installation instructions when new version is released
  release:
    types:
    - released

permissions:
  contents: read

jobs:
  generate-and-deploy:
    name: Generate and deploy
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout head
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: 'go.mod'
      - name: Setup Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "3.10"
      - name: Generate documentation
        run: make docs
      - name: Store generated MkDocs site
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: mkdocs-site
          path: site
          retention-days: 7
      - name: Deploy to pages
        if: ${{ github.ref_name == 'main' || github.event_name == 'release'}}
        uses: JamesIves/github-pages-deploy-action@4a3abc783e1a24aeb44c16e869ad83caf6b4cc23 # 4.7.4
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: site
          CLEAN: true
