name: Docs
on:
  push:
    branches:
      - main
      - test-docs-generator # for testing
  # Update version in installation instructions when new version is released
  release:
    types:
    - released

permissions:
  contents: read

jobs:
  generate-and-deploy:
    name: Generate and deploy
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout head
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: 'go.mod'
      - name: Setup Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: "3.10"
      - name: Generate documentation
        run: make docs
      - name: Store generated MkDocs site
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: mkdocs-site
          path: site
          retention-days: 7
      - name: Deploy to pages
        if: ${{ github.ref_name == 'main' || github.event_name == 'release'}}
        uses: JamesIves/github-pages-deploy-action@d92aa235d04922e8f08b40ce78cc5442fcfbfa2f # 4.8.0
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: site
          CLEAN: true
