name: Examples

on:
  pull_request:
    paths:
      - ".github/workflows/examples.yml"
      - "**.go"
      - "go.mod"
      - "go.sum"
      - "examples/**.md"
  workflow_dispatch:

concurrency:
  group: ${{ github.repository }}-${{ github.workflow }}
  cancel-in-progress: false

permissions:
  contents: read

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout head
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: "go.mod"
      - name: Install mdtest and upctl
        run: |
          go install github.com/UpCloudLtd/mdtest@latest
          make build
          echo "$GITHUB_WORKSPACE/bin" >> $GITHUB_PATH
      - name: Install kubectl
        uses: azure/setup-kubectl@776406bce94f63e41d621b960d78ee25c8b76ede
        with:
          version: 'latest'
      - name: Test examples
        env:
          UPCLOUD_USERNAME: ${{ secrets.UPCLOUD_USERNAME }}
          UPCLOUD_PASSWORD: ${{ secrets.UPCLOUD_PASSWORD }}
        run: |
          upctl version
          upctl account show > /dev/null # Ensure that credentials are valid
          mdtest examples/
  cleanup:
    name: Cleanup
    runs-on: ubuntu-latest
    needs: test
    if: ${{ always() }}
    steps:
      - name: Install upctl
        uses: UpCloudLtd/upcloud-cli-action@0b74850ba423d7d254b75518a31f19bd19aa839c # v1.0.0
        with:
          username: ${{ secrets.UPCLOUD_USERNAME }}
          password: ${{ secrets.UPCLOUD_PASSWORD }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Purge resources
        timeout-minutes: 5
        run: upctl all purge --include example-upctl-*
      - name: List remaining resources
        run: upctl all list --include *tf-acc-test* --exclude *persistent*
        if: ${{ failure() }}
