name: Test
on:
  pull_request:
    paths:
      - '**.go'
      - 'go.mod'
      - 'go.sum'
permissions:
  contents: read
jobs:
  unit-tests:
    name: Run unit-tests
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout head
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: 'go.mod'
      - name: Install keyring test dependencies on Ubuntu
        run: |
          sudo apt-get update
          sudo apt-get install -y gnome-keyring build-essential ca-certificates
        if: matrix.os == 'ubuntu-latest'
      - name: Run tests on Ubuntu with keyring
        run: | 
          echo 'somecredstorepass' | gnome-keyring-daemon --unlock
          make test
        shell: dbus-run-session -- bash --noprofile --norc -eo pipefail {0}
        if: matrix.os == 'ubuntu-latest'
      - name: Run tests
        run: make test
        if: matrix.os != 'ubuntu-latest'
      - name: Test build
        run: make build
      - name: Test Runtime
        run: go run cmd/upctl/main.go -h
